@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  background-image: url("./images/bg-intro-desktop.png");
  background-color: #ff7979;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  top: 43rem;
  left: 40rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.text-zone {
  position: absolute;
  margin: 5rem;
  top: 10rem;
  /* border: solid red 2px; */
  width: 40rem;
}

.big-text {
  position: relative;
  top: -0.5rem;
  margin-left: 2rem;
  color: white;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  word-wrap: break-word;
}

.blurb {
  position: relative;
  bottom: 2rem;
  white-space: pre;
  color: white;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
}

.purple {
  display: flex;
  position: relative;
  top: 5rem;
  left: 49.5rem;
  height: 4rem;
  width: 35rem;
  background: rgba(94, 84, 164, 1);
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  text-align: center;
}

.bold-text {
  position: absolute;
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins";
  left: 7.5rem;
  top: 0.5rem;
  height: 26px;
  color: white;
  text-align: center;
}

.nonbold {
  position: absolute;
  background-color: transparent;
  font-size: 15px;
  font-weight: 400;
  font-family: "Poppins";
  top: 0.5rem;
  left: 15.5rem;
  color: white;
  text-align: center;
}

.square {
  position: absolute;
  top: 10rem;
  left: 50rem;
  height: 26rem;
  width: 35rem;
  background: white;
  border-radius: 10px;
}

form {
  display: table;
}

.first {
  box-sizing: border-box;
  display: table-cell;
  position: absolute;
  top: 13rem;
  left: 53rem;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #5e54a4;
  border-radius: 5px;
  width: 460px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  opacity: 0.75;
}

.last {
  box-sizing: border-box;
  display: table-cell;
  position: absolute;
  top: 17rem;
  left: 53rem;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #5e54a4;
  border-radius: 5px;
  width: 460px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  opacity: 0.75;
}

.email {
  box-sizing: border-box;
  display: table-cell;
  position: absolute;
  top: 21rem;
  left: 53rem;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #5e54a4;
  border-radius: 5px;
  width: 460px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  opacity: 0.75;
}

.pass {
  box-sizing: border-box;
  display: table-cell;
  position: absolute;
  top: 25rem;
  left: 53rem;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #5e54a4;
  border-radius: 5px;
  width: 460px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  opacity: 0.75;
}

.trail {
  position: absolute;
  top: 29rem;
  left: 53rem;
  width: 460px;
  padding: 10px;
  background: #38cc8b;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 1px;
  color: white;
}

.trail:hover {
    background-color: #77E2B3;
}

.terms {
  position: absolute;
  top: 32rem;
  left: 56rem;
  font-size: 11px;
  font-family: 'Poppins';
  font-weight: 500;
  background-color: transparent;
  color: #BAB7D4;
}

.services {
    position: absolute;
  top: 32rem;
  left: 72.1rem;
  font-size: 11px;
  font-family: 'Poppins';
  font-weight: 500;
  background-color: transparent;
  color: #ff7979;
}

#firstErr {
  position: absolute;
  top: 16rem;
  left: 72rem;
  background-color: transparent;
  font-size: 11px;
  font-family: 'Poppins';
  font-weight: 500;
  color: #FF7979;
}
